/* Map */
#mapView {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
  height: 90%;
  width: 100%;
}

#mapView > .leaflet-pane {
  z-index: 0 !important;
}

.leaflet-top,
.leaflet-bottom {
  z-index: 1 !important;
}

.markerPop > * {
  font-family: 'Inter', sans-serif;
}

.unSelectElement {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

/* Hover Effects */
.brightness:hover {
  filter: brightness(1.5);
}

/* Custom Input Radio */

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  /* background: #335da5; */
  background: #fbbf24;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* SVG hover color  */

.svg_isActive:hover {
  fill: @apply text-yellow-400;
}

/* Custom Scroll */

/* width */
.customScroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.customScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.customScroll::-webkit-scrollbar-thumb {
  background: #1e478d;
}

/* Handle on hover */
.customScroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.swiper-pagination.swiper-pagination-bullets {
  bottom: -10px;
}

.swiper-pagination-bullet-active {
  background: #c93742 !important;
}

/* input placeholder center */
@media (max-width: 768px) {
  .placeholder-center::-webkit-input-placeholder {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .placeholder-center:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
  }
}

@media (max-width: 768px) {
  .placeholder-center::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
  }
}

@media (max-width: 768px) {
  .placeholder-center:-ms-input-placeholder {
    text-align: center;
  }
}
