.unSelectElement {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

/* Hover Effects */
.brightness:hover {
  filter: brightness(1.5);
}

/* SVG hover color  */

.svg_isActive:hover {
  fill: @apply text-yellow-400;
}

/* Custom Scroll */

/* width */
.customScroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.customScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.customScroll::-webkit-scrollbar-thumb {
  background: #1e478d;
}

/* Handle on hover */
.customScroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.swiper-pagination.swiper-pagination-bullets {
  bottom: -10px;
}

.swiper-pagination-bullet-active {
  background: #c93742 !important;
}

/* input placeholder center */
@media (max-width: 768px) {
  .placeholder-center::-webkit-input-placeholder {
    text-align: center;
  }

  .placeholder-center:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
  }

  .placeholder-center::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
  }

  .placeholder-center:-ms-input-placeholder {
    text-align: center;
  }
}

/* Header Slider */
@media (min-width: 320px) and (max-width: 767px) {
  .containerHeadermm-md {
    @apply w-full h-full;
  }
}

/* FifthSection */

/* sections top */
@media (min-width: 320px) and (max-width: 374px) {
  .masterclassResultImgmm-mxs {
    @apply w-48;
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .masterclassResultImgmxs-md {
    @apply w-72;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .priceTopmm-md {
    @apply top-28;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .fifthSectionBgPositionmd-lg {
    @apply -bg-y-10;
  }

  .containerHeadermd-lg {
    @apply w-104 h-fit;
  }

  .priceTopmd-lg {
    @apply top-190;
  }

  .priceMaxWidthmd-lg {
    @apply max-w-3xl;
  }
}

@media (min-width: 1024px) and (max-width: 1559px) {
  .fifthSectionBgPositionlg-3xl {
    @apply -bg-y-26;
  }

  .priceToplg-4xl {
    @apply top-190;
  }

  .priceMaxWidthlg-4xl {
    @apply max-w-4xl;
  }
}

@media (min-width: 1440px) {
  .containerHeader2xl {
    width: 51rem;
  }

  .masterclassResultImg2xl {
    @apply w-124;
  }
}

@media (min-width: 1280px) and (max-width: 1559px) {
  .priceTitlexl {
    @apply text-7xl;
  }
}

@media (min-width: 1660px) {
  .priceTop4xl {
    top: 40rem;
  }

  .priceTitle4xl {
    @apply text-9xl;
  }

  .priceMaxWidth4xl {
    @apply max-w-6xl
  }
}
